<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="navbar-brand" href="#">Lighthouse Cards!</a>
          </li>
          <li class="nav-item active">
            <span class="navbar-brand" id="gamename"><%= gamename %></span>
          </li>
          <% if (gamename !== "") { %>
            <li class="nav-item active">
              <button class="navbar-brand btn btn-outline-danger" id="exit">Leave Game</button>
            </li>
          <% } else { %>
            <li class="nav-item active">
                <a href="/records"><button class="btn btn-outline-dark my-2 my-sm-0">Records</button></a>
            </li>
          <% } %>
        </ul>
      </div>
      <div class="navbar-collapse collapse dual-collapse2">
        <% if (typeof username !== 'undefined') { %>
          <form method="POST" action="/logout" class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-item nav-link">Logged:</a>
              </li>
              <li class="nav-item active">
                <a id="username" class="nav-item nav-link"><%= username %></a>
              </li>
              <li class="nav-item active">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logout</button>
              </li>
            </ul>
          </form>
        <% } else { %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <form method="POST" action="/login" class="form-inline my-2 my-lg-0">
                <input name="username">
                <button type="submit">Login</button>
              </form>
            </li>
          </ul>
        <% } %>
      </div>
    </nav>
  </header>
