<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="navbar-brand" href="/urls">TinyApp</a>
          </li>
          <% if (typeof user !== 'undefined') { %>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/urls">My URLs</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="navbar-collapse collapse dual-collapse2">
        <% if (typeof user !== 'undefined') { %>
          <form method="POST" action="/logout" class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-item nav-link">Logged:</a>
              </li>
              <li class="nav-item active">
                <a class="nav-item nav-link"><%= user.email %></a>
              </li>
              <li class="nav-item active">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logout</button>
              </li>
            </ul>
          </form>
        <% } else { %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <form method="GET" action="/register" class="form-inline my-2 my-lg-0">
                <a class="nav-item nav-link" href="/register">Register</a>
              </form>
            </li>
            <li class="nav-item active">
              <form method="GET" action="/login" class="form-inline my-2 my-lg-0">
                <a class="nav-item nav-link" href="/login">Login</a>
              </form>
            </li>
          </ul>
        <% } %>
      </div>
    </nav>
  </header>
