<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Goofspiel</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css"/>
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>


  </head>

  <body>
    <% include ./partials/_header %>

    <h1>Hello Goofspiel!</h1>
    <div id="turn"></div>

    <div class="container opponent">
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="card">
        <img src="/cards/blue_back.png"/>
      </div>
    </div>

    <div class="container prizes">
      <div class="deck">
        <img src="/cards/blue_back.png"/>
      </div>
      <div class="prize">
        <img src="/cards/KH.png"/>
      </div>
    </div>

    <div class="player">
        <button id="confirm" class="btn btn-outline-info">Confirm</button>
      <div class="container">
      <div class="card">
        <img src="/cards/AC.png"/>
      </div>
      <div class="card">
        <img src="/cards/2C.png"/>
      </div>
      <div class="card">
        <img src="/cards/3C.png"/>
      </div>
      <div class="card">
        <img src="/cards/4C.png"/>
      </div>
      <div class="card">
        <img src="/cards/5C.png"/>
      </div>
      <div class="card">
        <img src="/cards/6C.png"/>
      </div>
      <div class="card">
        <img src="/cards/7C.png"/>
      </div>
      <div class="card">
        <img src="/cards/8C.png"/>
      </div>
      <div class="card">
        <img src="/cards/9C.png"/>
      </div>
      <div class="card">
        <img src="/cards/10C.png"/>
      </div>
      <div class="card">
        <img src="/cards/JC.png"/>
      </div>
      <div class="card">
        <img src="/cards/QC.png"/>
      </div>
      <div class="card">
        <img src="/cards/KC.png"/>
      </div>
    </div>
    </div>

  </body>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
  <script type="text/javascript" src="/scripts/goofspiel.js"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</html>
