// See: https://sass-lang.com/
html {
  height: 100%;
}

body {
  background-color: #EEE;
  display: flex;
  height: 100%;
  flex-direction: column;

  h1 {
    color: #244751;
  }

  #opponentName {
    color: red;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 25px;

    img {
      width: 64px;
      height: 89px;
    }

    .card {
      margin-left: -25px;
    }

    .card:first-of-type {
      margin-left: 0;
    }
  }

  .opponent {
    display: flex;
    flex-direction: column;

    footer {
      width: 50%;
      align-self: center;
      display: flex;
      justify-content: center;
    }
  }

  .player {
    display: flex;
    flex-direction: column;

    header {
      width: 25%;
      align-self: center;
      display: flex;
      justify-content: space-around;

      #confirm {
        visibility: hidden;
        // margin-right: 75px;
      }
    }

    img:hover, .selected {
      transform: scale(1.5, 1.5);
    }
  }

  .prizes {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;

    .deck {
      margin: 2px;
      align-self: center;
    }

    .prize {
      margin: 2px;
      align-self: center;
    }

    .bets {
      display: flex;
      flex-direction: column;
    }

    .prize:hover {
      transform: scale(1.5, 1.5);
    }
  }
}
