// See: https://sass-lang.com/
html {
  height: 100%;
}

.bg-success {
  // background-color: #17a2b8!important;
  animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 50s; /* Chrome and Safari */
  @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: orange;}
      50%  {background: yellow;}
      75%  {background: green;}
      100% {background: blue;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: orange;}
      50%  {background: yellow;}
      75%  {background: green;}
      100% {background: blue;}
    }
}

body {
  background-color: whitesmoke;
  display: flex;
  height: 100%;
  flex-direction: column;



  h1 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: Chalkduster, fantasy;



  }

  .game {
    width: 25%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  td {
    width: 25%;
  }

  tr:nth-child(even) {background-color: lightgray;}

  #opponentName {
    color: red;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 25px;

    img {
      width: 64px;
      height: 89px;
    }

    .card {
      margin-left: -25px;
    }

    .card:first-of-type {
      margin-left: 0;
    }
  }

  .opponent {
    display: flex;
    flex-direction: column;

    footer {
      width: 50%;
      align-self: center;
      display: flex;
      justify-content: center;
    }
  }

  .player {
    display: flex;
    flex-direction: column;

    header {
      width: 25%;
      align-self: center;
      display: flex;
      justify-content: space-evenly;

      .alert {
        margin-bottom: 0;
      }

      #error {
        visibility: hidden;
      }

      #confirm {
        visibility: hidden;
      }

      #score {
        align-self: center;
      }
    }

    .container {
      div:hover, .selected {
        transform: scale(1.5, 1.5);
      }
    }
  }

  .prizes {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;

    .deck {
      margin: 2px;
      align-self: center;
    }

    .prize {
      margin: 2px;
      align-self: center;
    }

    .bets {
      display: flex;
      flex-direction: column;
    }

    .prize:hover {
      transform: scale(1.5, 1.5);
    }
  }
}
